--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
openai-whisper
torch==2.4.0+cpu
torchaudio==2.4.0+cpu
numpy==1.26.4
pydantic
python-multipart
whisperx==3.3.0
pyannote.audio
phonemizer